<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include "page_title.html" %}
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Apply for Digital Certificate</h2>
                            <ol class="text-secondary" style="margin-bottom:0; max-width: 800px;">
                                <li class="mb-3">Rothchild Bank needs to submit (CSR) Certificate Signing Request to MicroAuth.</li>
                                <li class="mb-3">Details to be submitted for certificate request are bank name, address,
                                    email Id, public-key, signature. These details are called (CRI) Certificate Request Informaion.
                                    Please refer to CSR & CRI standard for more detailed and accurate information.</li>
                                <li class="mb-3">Did you see what are the last two fields in previous point. That's right they are
                                    the public-key and signature.</li>
                                <li class="mb-3">First of all Rothichild Bank needs to generate its own public-private key pair, generate
                                    the signature of CSR using the private-key and add the signature back into the same CSR file.
                                </li>
                                <li class="mb-3">Go ahead and submit the (.csr file) certificate request to MicroAuth
                                    at <a href="#">support@micrcauth.com</a></li>
                            </ol>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
