<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include "page_title.html" %}
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Tell all the Web Browsers.</h2>
                            <ol class="text-secondary" style="margin-bottom:0; max-width: 850px;">
                                <li class="mb-3">Now MicroAuth has its public-private key pair, so next it should
                                    send it's public key to all the web-browsers.</li>
                                <li class="mb-3">Whenever anyone downloads any web-browser, all the public keys will be part
                                    of the download.</li>
                                <li class="mb-3">In our case MicroAuth's public key will be part of the download.</li>
                            </ol>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
