<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include "page_title.html" %}
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. MicroAuth's (CSR) Certifcate Sign Request.</h2>
                            <ol class="text-secondary">
                            <li class="mb-3">
                                Now MicroAuth has both priv & pub key. Next it should generate a CSR & self-signed certificate.
                            </li>
                            <li class="mb-3">
                                Generate (CSR) Certificate Sign Request.
                                <code class="custom-code">
                                    openssl req -new -key micrcauth.priv -out micrcauth.csr -subj
                                        "/C=US/ST=California/L=San Francisco/O=Microcert CA Inc./CN=micrcauth.com"
                                </code>
                            </li>
                            <li class="mb-3">
                                View micrcauth.csr generated in previous step.
                                <code class="custom-code">
                                    openssl req -in micrcauth.csr -text -noout -verify
                                </code>
                            </li>
                            <li>
                                Now there is a CSR next go ahead and create a self-signed certificate.
                            </li>
                            </ol>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
