<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include "page_title.html" %}
                <section id="congratulations" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Congratulations</h2>
                            <ol class="text-secondary" style="max-width: 750px;">
                                <li class="mb-3">Congratulations you have completed this track of the story successfully.
                                    You have learned how digital-certificate is created, added to web-server and how it
                                    is used for HTTPS communication.
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>
                <div class="d-flex justify-content-center gap-3 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg" id="gotoPrevPage">Prev</button>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
                <script>
                    document.getElementById('gotoPrevPage').addEventListener('click', function(event) {
                        event.preventDefault(); // Prevent default button behavior if it's inside a form
                        goto_prev_page();
                    });
                    document.getElementById('restart').addEventListener('click', function(event) {
                        event.preventDefault(); // Prevent default button behavior if it's inside a form
                        restart();
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
