<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <section id="page-title" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">Digital Certificate Story</h2>
                            <p class="mt-3 text-secondary">Story continues for <b><i>{{ scenario }}</i></b> scenario
                                with <b><i>{{ approach }}</i></b> explanation</p>
                        </div>
                    </div>
                </section>
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Add Certificate to Web Server</h2>
                            <p class="mt-3 text-secondary">
                                <ol class="text-secondary" style="margin-bottom:0; max-width: 650px;">
                                    <li class="mb-3">Now at Rothchild Bank after receiving the rothchild.crt file
                                        the admin folk will add the certificate into bank's web-server certificates folder.</li>
                                    <li class="mb-3">From now onward the bank's web-servre will send rothchild.crt to all the
                                        web request.</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
