<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <section id="page-title" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">Digital Certificate Story</h2>
                            <p class="mt-3 text-secondary">Story continues for <b><i>{{ scenario }}</i></b> scenario
                                with <b><i>{{ approach }}</i></b> explanation</p>
                        </div>
                    </div>
                </section>
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Certificate Authority Inc.</h2>
                            <ol class="text-secondary" style="margin-bottom:0; max-width: 650px;">
                                <li class="mb-3">Your name is Bill Gates and you are a tech geneious.</li>
                                <li class="mb-3">You started you own (CA) Certificate Authority organisation.</li>
                                <li class="mb-3">You creatively named you organisation as MicroCert Inc.</li>
                                <li class="mb-3">Your company's website is <a href="#">www.micrcauth.com</a></li>
                            </ol>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
