<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <section id="page-title" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">Digital Certificate Story</h2>
                            <p class="mt-3 text-secondary">Story continues for <b><i>{{ scenario }}</i></b> scenario
                                with <b><i>{{ approach }}</i></b> explanation</p>
                        </div>
                    </div>
                </section>
                <section id="congratulations" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Part-2 HTTPS Communication</h2>
                            <ol class="text-secondary" style="max-width: 750px;">
                                <li class="mb-3">We have a user <b><i>Larry</i></b> typing <a href="#">https://rothchildbank.com</a> into his web-browser.
                                    After initial handshake the web-server responds back with rothchild.crt</li>
                                <li class="mb-3">Web-browser will have a map of certificate issuer's name against the respective certificate.
                                    In our case there should be a entry like {"Microcert": "microcert.crt"}
                                </li>
                                <li class="mb-3">Once the web-browser receives rothchild.crt it extracts the issuer's name which is "Microcert" in our
                                    case and loopup for the respective certificate which is "microcert.crt" in our case.
                                </li>
                                <li>Next web-bowser will validate the rothchild.crt using microcert.crt. If the validation is successful then the
                                    web-browser moves starts session key exchange.
                                </li>
                            </ol>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
