<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    {% include "restart.html" %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <section id="page-title" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">Digital Certificate Story</h2>
                            <p class="mt-3 text-secondary">Story continues for <b><i>{{ scenario }}</i></b> scenario
                                with <b><i>{{ approach }}</i></b> explanation</p>
                        </div>
                    </div>
                </section>
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. MicroCert Signs Bank's CSR</h2>
                            <ol class="text-secondary">
                            <li class="mb-3">
                                Sign rothchild.csr using microcert.crt & microcert.priv<br/>
                                <code class="custom-code">
                                    openssl ca -in rothchild.csr -out rothchild.crt -cert microcert.crt -keyfile microcert.priv
                                </code>
                            </li>
                            <li class="mb-3">
                                View rothchild.crt file generate in previous step.<br/>
                                <code class="custom-code">
                                    openssl x509 -in rothchild.crt -text -noout
                                </code>
                            </li>
                            <li>
                                MicroCert will send rothchild.crt to Rothchild Bank.<br/>
                            </li>
                            </ol>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
