<head>
    <meta charset="UTF-8">
    <title>...::: DigiCert Game :::...</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .custom-code {
            background-color: #f0f0f0;
            padding: 0.25rem 0.5rem;
            margin: 0.5rem 0;
            border-radius: 4px;
            display: inline-block;
            width: 100%;
        }
    </style>
    <script>
        function goto_next_page() {
            fetch('/digicert/next-page', {
                method: 'POST',
            }).then(response => {
                window.location.reload();
            });
        }
        function goto_prev_page() {
            fetch('/digicert/prev-page', {
                method: 'POST',
            }).then(response => {
                window.location.reload();
            });
        }
        function restart() {
            fetch('/digicert/restart', {
                method: 'POST',
            }).then(response => {
                window.location.reload();
            });
        }
    </script>
</head>
