<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <section id="page-title" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">Digital Certificate Story</h2>
                            <p class="mt-3 text-secondary">Story continues for <b><i>{{ scenario }}</i></b> scenario
                                with <b><i>{{ approach }}</i></b> explanation</p>
                        </div>
                    </div>
                </section>
                <section id="role-explanation" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">{{ page }}. Generate Pub-Priv Key Pairs.</h2>
                            <p class="mt-3 text-secondary">
                                <ol class="text-secondary" style="margin-bottom:0; max-width: 850px;">
                                    <li class="mb-3">If MicroCert wants to serve customers with certificate, first
                                        it need to generate few public-private key pair.</li>
                                    <li class="mb-3">For this discussion we will consider MicroCert to have only one
                                        public-private key pair.</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </section>
                {% include "footer.html" %}
            </div>
        </div>
    </div>
</body>
</html>
