<!DOCTYPE html>
<html lang="en">
{% include "header.html" %}
<body class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include "page_title.html" %}
                <section id="sequence-diagram" class="mb-3">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-primary mb-4">Sequence Diagram</h2>
                            <img src="{{ url_for('static', path=track ~ '/sequence_diagram.png') }}"
                                class="img-fluid" alt="Sequence Diagram"/>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
